In [5]:
import numpy as np
import pandas as pd
import seaborn as sns

In [32]:
df = pd.read_csv('babynames.csv', index_col=0)

In [33]:
df.head(5)

        year sex      name      n      prop
X1
461925  1950   F     Linda  80439  0.045732
461926  1950   F      Mary  65485  0.037230
461927  1950   F  Patricia  47952  0.027262
461928  1950   F   Barbara  41570  0.023634
461929  1950   F     Susan  38021  0.021616

In [34]:
#reset index
df.reset_index(inplace = True)
#drop column
df.drop('X1', axis=1, inplace=True)

In [46]:
arya = df[(df['name'] == 'Arya')& (df['sex'] == 'F')]
arya.groupby('year')['n'].sum()
#After the book of Game of Trones coming out in 1996, name of Arya is steadily increasing over years. Especially after the on air of the  tv show in 2011.

year
1986       5
1988       5
1990       6
1992       7
1996      11
1997      13
1998      25
1999      16
2000      34
2001      36
2002      54
2003      71
2004     120
2005     113
2006     159
2007     199
2008     205
2009     236
2010     273
2011     387
2012     759
2013    1137
2014    1551
2015    1634
Name: n, dtype: int64

In [54]:
daenerys = df[(df['name'] == 'Daenerys')& (df['sex'] == 'F')]
daenerys.groupby('year')['n'].sum()
#Its interesting that someone actually named their children with the name of dragon queen.
#But the data is just 4 years. Not that imformative compared with arya.

year
2012    21
2013    68
2014    86
2015    82
Name: n, dtype: int64

In [55]:
sansa = df[(df['name'] == 'Sansa')& (df['sex'] == 'F')]
sansa.groupby('year')['n'].sum()
#Similar with dragon queen. And we can see people started like Sansa from the third season.

year
2013    11
2014    12
2015    20
Name: n, dtype: int64

In [ ]:
#not good candicates
#Although Jon Snow is popular as a character, Jon is too normal as a name.
#Both Robb and Rickon is not that popular.